.content-page {
    position: relative;
    width: 100%;
}

.side-bar {
    font-size: 72px;
    color: rgb(255,255,255);
    background-color: rgb(31,31,31);
}

.portfolio-wrapper {
    margin: 20px;
    text-align: center;
}

.portfolio-wrapper .row{
   margin:0;
}

.thumbnail {
    margin-bottom:7px;
}

.thumbnail img {
    margin: 0;
}

/* Side title for feature projects */
.side-title {
    position: absolute;
    width: 250px;
    margin:0;
    margin-left: -20px;

    font-family: 'Source Sans Pro';
    font-weight: bolder;
    color: #000;
    font-size: 12px;

    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left bottom;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left bottom;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left bottom;
    -o-transform: rotate(90deg);
    -o-transform-origin: left bottom;
    transform: rotate(90deg);
    transform-origin: left bottom;
    z-index: 10;
}

/* Show more projects */
.show-more {
    width:  150px;
    display: flex;
    flex-direction: row;
    text-align:center;
    margin:auto;
    margin-top:10px;
}

.show-more a{
    margin:auto;
    display:inline-block;
    text-decoration:none;
    text-align:center;
    font-family: 'Source Sans Pro';
    font-weight: bolder;
    color: #000;
    font-size: 12px;
}

.show-more a img{
    margin-bottom:20px;
    transition: transform .3s ease-out;
}

.show-more a .caption {
    transition: transform .3s ease-out;
}

.show-more a:hover img{
    transform: translate(0, -2.5px);
}

.show-more a:hover .caption{
    transform: translate(0, 2.5px);
}

.show-more a:hover {
    opacity: .75;
}

.space-occupier {
    height: 300px;
}