.descriptions-crew {
    width: 100%;
    position: relative;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.descriptions-crew p {
    font-family: 'Source Sans Pro';
    color: #000;
    font-size: 16px;
    width:60%;
    display: inline-block;
    text-align: left;
    margin: 0px;
}

.descriptions-crew h2 {
    font-family: 'Source Sans Pro';
    color: #000;
    font-size: 48px;
    width:60%;
    display: inline-block;
    text-align: left;
    margin: 0px;
}

.description-crew-wrapper{
    display: table;
    height: 100vh;
}

.image-wrapper {
    height: 80vh;
    width: 100%;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

.image-wrapper .col-md-10{
    height: 80vh;
}

/* .image-wrapper .img-horizontal {
    width: 100% !important;
    height: auto !important;
    margin: 15px;
  }

  .image-wrapper .img-vertical {
    width: auto !important;
    height: 100% !important;
    margin: 15px;
  } */

/* Side title for the crew */
.side-title {
    position: absolute;
    width: 250px;
    margin:0;
    margin-left: 20px;

    font-family: 'Source Sans Pro';
    font-weight: bolder;
    color: #000;
    font-size: 12px;

    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left bottom;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left bottom;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left bottom;
    -o-transform: rotate(90deg);
    -o-transform-origin: left bottom;
    transform: rotate(90deg);
    transform-origin: left bottom;
    z-index: 10;
}


/* -------------------------- */
#photos {
    /* Prevent vertical gaps */
    line-height: 10px;
    
    -webkit-column-count: 2;
    -webkit-column-gap:   10px;
    -moz-column-count:    2;
    -moz-column-gap:      10px;
    column-count:         2;
    column-gap:           10px;
 }
 
 .image-wrapper img {
   /* Just in case there are inline attributes */
   width: 100% !important;
   height: auto !important;
   margin: 15px;
 }

 .col-md-10 .row {
    /* Just in case there are inline attributes */
    margin:30px;
  }
 
 @media (max-width: 1200px) {
   #photos {
   -moz-column-count:    2;
   -webkit-column-count: 2;
   column-count:         2;
   }
 }
 @media (max-width: 1000px) {
   #photos {
   -moz-column-count:    2;
   -webkit-column-count: 2;
   column-count:         2;
   }
 }
 @media (max-width: 800px) {
   #photos {
   -moz-column-count:    2;
   -webkit-column-count: 2;
   column-count:         2;
   }
 }
 @media (max-width: 400px) {
   #photos {
   -moz-column-count:    1;
   -webkit-column-count: 1;
   column-count:         1;
   }
 }
 