.descriptions-box {
    width: 100%;
    position: relative;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.descriptions-box p {
    font-family: 'Source Sans Pro';
    font-weight: bolder;
    color: #000;
    font-size: 24px;
    width:40%;
    display: inline-block;
    text-align: left;
    margin: 0px;
}

.do-not-click-box {
    margin-left: 10%;
    position: absolute;
    bottom: 0px;
    margin-bottom: 10%;
    font-family: 'Source Sans Pro';
    font-weight: bolder;
    color: #000;
    font-size: 12px;
}

.do-not-click-box > a{
    font-family: 'Source Sans Pro';
    font-weight: bolder;
    color: #000;
    font-size: 12px;
}

.do-not-click-box img {
    margin-right:20px;
}

.do-not-click-box:hover {
    opacity: .75;
    text-decoration: none;
}

.do-not-click-box:hover a{
    text-decoration: none;
}

.description-box-wrapper{
    display: table;
    height: 100vh;
}
