body {
    height:100px;
}

#footer 
{
    background: rgb(226, 226, 226);
    width: 100%;
    position:relative;
    z-index:100;
    height: 40vh;
}

#footer .row
{
    background: rgb(226, 226, 226);
}

#footer ul.navigation li {
    float: left;
    margin-right: 16px;
    display: block;
}

.footer-col {
    margin: 30px;
    line-height: 12px;
}

.footer-logo {
    margin: 30px;
    float: right;
}

#footer .navbar {
    float: right;
    background-color: transparent;
    background: transparent;
    border-color: transparent;
}