.description-box-wrapper{
    display: table;
    height: 100vh;
    width: 100%;
}

.descriptions-box {
    vertical-align: middle;
    display: table-cell;
}

.descriptions-box .wrapper-middle {
    width: 100%; 
    margin-left: 160px;
}

.descriptions-box .description-header p{
    font-family: 'Source Sans Pro';
    font-weight: 700;
    color: #000;
    font-size: 74px;
    letter-spacing: 0em;
}

.descriptions-box .wrapper-middle .description-bar p{
    font-family: 'Source Sans Pro';
    font-weight: 100;
    color: #000;
    font-size: 120px;
}

.descriptions-box .wrapper-middle p {
    font-family: 'Source Sans Pro';
    font-weight: 300;
    color: #000;
    font-size: 17px;
    width: 53%;
}


.image-wrapper {
    height: 75vh;
    width: 90%;
    position: relative;
    text-align: center;
    vertical-align: middle;
    display: flex;
    margin: 0 auto;
}

.image-wrapper-col-left {
    flex:1;
    width: 44%;
    margin: 0px 1% 0px 0px;
    height: 100%;
}
.image-wrapper-col-right {
    flex:1;
    width: 44%;
    margin: 0px 0px 0px 1%;
    height: 100%;
}

.image-wrapper-col-half-top{
    margin: 0px 0px 4% 0px;
    height: 48%;
}

.image-wrapper-col-half-bottom{
    margin: 4% 0px 0px 0px;
    height: 48%;
}

.image-wrapper .image-wrapper-col-half-top > a > img {
    width: 100% !important;
    height: 100% !important;
  }

  .image-wrapper .image-wrapper-col-half-bottom > a > img {
    width: 100% !important;
    height: 100% !important;
  }

.image-wrapper .image-wrapper-col-left > a > img {
    width: 100% !important;
    height: 100% !important;
}

.image-wrapper .image-wrapper-col-right > a > img {
    width: 100% !important;
    height: 100% !important;
}

.scroll-btn-wrapper {
    height: 10vh;
    width: 100%;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

/* Side title for the crew */
.side-title {
    width: 450px;
    margin:0;
    margin-left: 40px;
    top:-60px;

    font-family: 'Source Sans Pro';
    font-weight: bolder;
    color: #000;
    font-size: 12px;

    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left bottom;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left bottom;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left bottom;
    -o-transform: rotate(90deg);
    -o-transform-origin: left bottom;
    transform: rotate(90deg);
    transform-origin: left bottom;
    z-index: 10;
}

 .side-title .member-cross {
    margin-right:30px; 
    background:none;
    border:0;
    font-size:6em;
    line-height:60px;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:50;
    float: left;
    color: #000;
    text-decoration: none;
}

.side-title .member-cross:hover {
    color: #000;
    text-decoration: none;
    opacity: .75;
}

@media screen and (max-width : 1920px)
{
    .descriptions-box .description-header p{
        font-size: 74px;
    }

    .descriptions-box .wrapper-middle .description-bar p{
        font-size: 120px;
    }
    
    .descriptions-box .wrapper-middle p {
        font-size: 17px;
    }

    .descriptions-box .wrapper-middle {
        margin-left: 150px;
    }
}

@media screen and (max-width : 1600px)
{
    .descriptions-box .description-header p{
        font-size: 60px;
    }

    .descriptions-box .wrapper-middle .description-bar p{
        font-size: 100px;
    }
    
    .descriptions-box .wrapper-middle p {
        font-size: 15px;
    }

    .descriptions-box .wrapper-middle {
        margin-left: 130px;
    }
}

@media screen and (max-width : 1366px)
{
    .descriptions-box .description-header p{
        font-size: 52px;
    }

    .descriptions-box .wrapper-middle .description-bar p{
        font-size: 90px;
    }
    
    .descriptions-box .wrapper-middle p {
        font-size: 14px;
    }

    .descriptions-box .wrapper-middle {
        margin-left: 105px;
    }
}

@media screen and (max-width : 1280px)
{
    .descriptions-box .description-header p{
        font-size: 48px;
    }

    .descriptions-box .wrapper-middle .description-bar p{
        font-size: 80px;
    }
    
    .descriptions-box .wrapper-middle p {
        font-size: 14px;
    }

    .descriptions-box .wrapper-middle {
        margin-left: 150px;
    }
}

@media screen and (max-width : 1024px)
{
    .descriptions-box .description-header p{
        font-size: 44px;
    }

    .descriptions-box .wrapper-middle .description-bar p{
        font-size: 70px;
    }
    
    .descriptions-box .wrapper-middle p {
        font-size: 13px;
    }

    .descriptions-box .wrapper-middle {
        margin-left: 150px;
    }
}

@media screen and (max-width : 800px)
{
    .descriptions-box .description-header p{
        font-size: 39px;
    }

    .descriptions-box .wrapper-middle .description-bar p{
        font-size: 60px;
    }
    
    .descriptions-box .wrapper-middle p {
        font-size: 11px;
    }
}