#scroll-down-link{
	position: absolute;
	bottom: -35px;
	left: 46%;
	z-index: 12;
	display: inline-block;
}

#scroll-down-link a {
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
	padding-top: 60px;
	letter-spacing: .1em;
	text-decoration: none;
	transition: opacity .3s;

	font-family: 'Source Sans Pro';
	font-weight: bolder;
	color: #000;
	font-size: 12px;
	line-height: 0em;
}

#scroll-down-link a:hover {
	opacity: .75;
}

#scroll-down-link a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 25px;
	height: 40px;
	margin-left: -15px;
	
	border: 3px solid;
	border-radius: 50px;
	box-sizing: border-box;
	border-color: #000;
	-webkit-transition: transform .3s ease-out;
	-moz-transition: transform .3s ease-out;
	-o-transition: transform .3s ease-out;
	-ms-transition: transform .3s ease-out;
	transition: transform .3s ease-out;
}

#scroll-down-link a:hover span {
	position: absolute;
	-webkit-transform: translate(0, -7.5px);
	-moz-transform: translate(0, -7.5px);
	-ms-transform: translate(0, -7.5px);
	-o-transform: translate(0, -7.5px);
	transform: translate(0, -7.5px);
	/* top: -10px; */
}

#scroll-down-link a span::before {
	position: absolute;
	top: 10px;
	left: 50%;
	content: '';
	width: 6px;
	height: 6px;
	margin-left: -3px;
	background-color: #000;
	border-radius: 100%;
	-webkit-animation: sdb10 2s infinite;
	-moz-animation: sdb10 2s infinite;
	-ms-animation: sdb10 2s infinite;
	-o-animation: sdb10 2s infinite;
	animation: sdb10 2s infinite;
	box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
0% {
  -webkit-transform: translate(0, 0);
  opacity: 0;
}
40% {
  opacity: 1;
}
80% {
  -webkit-transform: translate(0, 10px);
  opacity: 0;
}
100% {
  opacity: 0;
}
}
@-moz-keyframes sdb10 {
0% {
  transform: translate(0, 0);
  opacity: 0;
}
40% {
  opacity: 1;
}
80% {
  transform: translate(0, 10px);
  opacity: 0;
}
100% {
  opacity: 0;
}
}

@-ms-keyframes sdb10 {
0% {
  -webkit-transform: translate(0, 0);
  opacity: 0;
}
40% {
  opacity: 1;
}
80% {
  -webkit-transform: translate(0, 10px);
  opacity: 0;
}
100% {
  opacity: 0;
}
}
@-o-keyframes sdb10 {
0% {
  transform: translate(0, 0);
  opacity: 0;
}
40% {
  opacity: 1;
}
80% {
  transform: translate(0, 10px);
  opacity: 0;
}
100% {
  opacity: 0;
}
}
@keyframes sdb10 {
0% {
  transform: translate(0, 0);
  opacity: 0;
}
40% {
  opacity: 1;
}
80% {
  transform: translate(0, 10px);
  opacity: 0;
}
100% {
  opacity: 0;
}
}


@media screen and (max-width : 1920px)
{
	#scroll-down-link a span {
		width: 25px;
		height: 40px;
	}
	#scroll-down-link a {
		font-size: 12px;
		line-height: 0em;
	}
}

@media screen and (max-width : 1600px)
{
	#scroll-down-link a span {
		width: 25px;
		height: 40px;
	}
	#scroll-down-link a {
		font-size: 12px;
		line-height: 0em;
	}
}

@media screen and (max-width : 1366px)
{
	#scroll-down-link a span {
		width: 22px;
		height: 35px;
	}
	#scroll-down-link a {
		font-size: 10px;
		line-height: 0em;
	}
}

@media screen and (max-width : 1280px)
{

}

@media screen and (max-width : 1024px)
{

}

@media screen and (max-width : 800px)
{

}