.side-nav {
    position: absolute;
    right:-330px;
    top: -80px;
    width: 440px;
    height: 100px;
    margin:0;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left bottom;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left bottom;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left bottom;
    -o-transform: rotate(90deg);
    -o-transform-origin: left bottom;
    transform: rotate(90deg);
    transform-origin: left bottom;
    z-index: 10;
}

.side-nav .side-nav-ul li {
    list-style-type: none;
    line-height: 50px;
    float: left;
    width: 70px;
    margin: 10px;
}

.side-nav .side-nav-ul a {
    text-decoration: none;
    text-transform: lowercase;
    font-family: 'Source Sans Pro';
    font-weight: bolder;
    color: #000;   
    font-size: 20px;
}

.side-nav .side-nav-ul a:hover{
    opacity: .5;
}

.side-nav .side-nav-ul {
    /* float: left; */
    padding: 0;
    margin: 10px;
    width: 420px; /* 522 + 522 + 522 = 1566 */
    text-align: center;
	position: absolute;
    white-space: nowrap;
    height: 80px;
    z-index: 10;
}
