body {
    overflow:hidden;
}

.right-col > .bg {
    height:100vh !important;
    width: 100% !important;
    position: relative;
}

.right-col > h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.description-box-wrapper{
    display: table;
    height: 100vh;
    width: 100%;
}


.descriptions-box {
    vertical-align: middle;
    display: table-cell;
}

.descriptions-box img {
    /* float: left; */
    display: inline-block;
}

.descriptions-box span {
    /* float: right; */
    display: inline-block;
}

.descriptions-box .wrapper-middle {
    width: 100%; 
    margin-left: 160px;
}

.descriptions-box .description-header p{
    font-family: 'Source Sans Pro';
    font-weight: 1000;
    color: #000;
    font-size: 60px;
}

.descriptions-box .wrapper-middle .description-bar p{
    font-family: 'Source Sans Pro';
    font-weight: 1000;
    color: #000;
    font-size: 60px;
}

.descriptions-box .wrapper-middle p {
    font-family: 'Source Sans Pro';
    font-weight: 800;
    color: #000;
    font-size: 36px;
    width: 50%;
}

.descriptions-box .icon-wrapper .icon {
    display: inline-block;
    vertical-align: middle;
    margin: 20px 10px 20px 50px;
}

.descriptions-box .icon-wrapper .icon-text {
    display: inline-block;
    vertical-align: middle;
    margin: 40px 20px;
}

.descriptions-box .icon-wrapper .icon-text h3{
    margin:0px ;
}

/* Enquire Button End */
.side-title {
    /* width: 450px; */
    margin:0;
    position: absolute;
    top: 20%;
    right: -9%;
    font-family: 'Source Sans Pro';
    font-weight: bolder;
    color:#fff;
    font-size: 12px;

    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: center;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: center;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: center;
    -o-transform: rotate(90deg);
    -o-transform-origin: center;
    transform: rotate(90deg);
    transform-origin: center; 
    z-index: 10;
}

.side-title .side-title-content {
    width: 300px;
    height: 50px;
}

.side-title .side-text {
    display: inline-block;
    width: 200px;
    height: 40px;
    margin: auto;
    vertical-align: middle;
    position: absolute;
}

.side-title .side-text h2 {
    margin: 0px;
    color:#fff;
}

 .side-title .member-cross-wrapper .member-cross {
    background:none;
    border:0;
    font-size:6em;
    line-height:60px;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:50;
    color:#fff;
    text-decoration: none;
    width: 20px;
    height: 20px;
}

.side-title .member-cross-wrapper {
    margin-right:20px; 
    display: inline-block;
    width: 40px;
    height: 40px;
}

.side-title .member-cross:hover {
    color:#fff;
    text-decoration: none;
    opacity: .75;
}

/*form */
.form-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height:40vh;
    transform: translate(-50%, -50%);
    color: rgb(14, 190, 164);
    text-align: center;
    z-index: 10;
}

.form-wrapper h1{
    color: #fff;
    text-align: center;
    z-index: 10;
}

form {
    margin: 0 auto;
    width: 60%;
}

form .form-icons {
    text-align: center;
    margin: 30px;
  }
  
  form .form-icons h4 {
    margin-bottom: 1rem;
  }
  
  form .form-icons .input-group-label {
      margin: 20px;
  }
  
  form .form-icons .input-group-field {
    border-color: #1779ba;
  }
  
  form .form-icons .fa {
    color: white;
    width: 1rem;
  }
  
  .input-group{
      margin: 20px;
      font-size: x-large;
  }
  
  .text-line {
      background-color: transparent;
      color: #eeeeee;
      outline: none;
      outline-style: none;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: solid #eeeeee 1px;
      padding: 3px 10px;
  }
  
  ::placeholder {
      color: white;
      opacity: 1; /* Firefox */
      font-size: 12px;
  }
  
  .input-group input[type=file] {
      display:none;
      margin:10px;
  }
  
  .input-group input[type=file] + label {
      display:inline-block;
      margin:20px;
      padding: 4px 32px;
      background-color: #FFFFFF;
      border:solid 1px #666F77;
      border-radius: 6px;
      color:#666F77;
  }
  
  .input-group input[type=file]:active + label {
      background-image: none;
      background-color:#2D6C7A;
      color:#FFFFFF;
  }
  
  .btn{
      font-size: 12px;
      color: white;
      padding: 6px 10px;
  }
  
  .btn:hover{
      color: white;
  }
  /*end form*/
  .subscribe-btn-wrapper {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
}

.subscribe-btn-wrapper .subscribe-btn{
  border: 2px solid currentColor;
  border-radius: 3rem;
  color: #fff;
  font-size: 16px;
  font-weight: 100;
  overflow: hidden;
  padding: 1rem 2rem;
  text-decoration: none;
  z-index: 0;
}

.subscribe-btn-wrapper .subscribe-btn:hover {
    opacity: .25;
}
