/* .descriptions-crew {
    width: 100%;
    position: relative;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.descriptions-crew p {
    font-family: 'Source Sans Pro';
    color: #000;
    font-size: 16px;
    width:60%;
    display: inline-block;
    text-align: left;
    margin: 0px;
}

.descriptions-crew h2 {
    font-family: 'Source Sans Pro';
    color: #000;
    font-size: 48px;
    width:60%;
    display: inline-block;
    text-align: left;
    margin: 0px;
}

.description-crew-wrapper{
    display: table;
    height: 100vh;
} */

.description-box-wrapper{
    display: table;
    height: 100vh;
    width: 100%;
}

.descriptions-box {
    vertical-align: middle;
    display: table-cell;
}

.descriptions-box .wrapper-middle {
    width: 100%; 
    margin-left: 160px;
}

.descriptions-box .description-header p{
    font-family: 'Source Sans Pro';
    font-weight: 700;
    color: #000;
    font-size: 45px;
    letter-spacing: 0em;
    width: 50%;
}

.descriptions-box .wrapper-middle .description-bar p{
    font-family: 'Source Sans Pro';
    font-weight: 100;
    color: #000;
    font-size: 120px;
    width: 50%;
}

.descriptions-box .wrapper-middle p {
    font-family: 'Source Sans Pro';
    font-weight: 300;
    color: #000;
    font-size: 17px;
    width: 53%;
}


.image-wrapper {
    height: 75vh;
    width: 90%;
    position: relative;
    text-align: center;
    vertical-align: middle;
    display: flex;
    margin: 0 auto;
}

.image-wrapper-col-left {
    flex:1;
    width: 45%;
    margin: 0px 0.25% 0px 0px;
    height: 100%;
}
.image-wrapper-col-right {
    width: 100%;
    margin: 0px;
    height: 100%;
}

.image-wrapper-col-half-top{
    margin: 0px 0px 1% 0px;
    height: 49.5%;
}

.image-wrapper-col-half-bottom{
    margin: 1% 0px 0px 0px;
    height: 49.5%;
}

.image-wrapper .image-wrapper-col-half-top > a > img {
    width: 100% !important;
    height: 100% !important;
  }

  .image-wrapper .image-wrapper-col-half-bottom > a > img {
    width: 100% !important;
    height: 100% !important;
  }

.image-wrapper .image-wrapper-col-left > a > img {
    width: 100% !important;
    height: 100% !important;
}

.image-wrapper .image-wrapper-col-right > a > img {
    width: 100% !important;
    height: 100% !important;
}

.scroll-btn-wrapper {
    height: 10vh;
    width: 100%;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

/* Side title for the crew */
/* .side-title {
    position: absolute;
    width: 250px;
    margin:0;
    margin-left: 20px;

    font-family: 'Source Sans Pro';
    font-weight: bolder;
    color: #000;
    font-size: 12px;

    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left bottom;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left bottom;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left bottom;
    -o-transform: rotate(90deg);
    -o-transform-origin: left bottom;
    transform: rotate(90deg);
    transform-origin: left bottom;
    z-index: 10;
} */
/* Side title for the crew */
.side-title {
    width: 450px;
    margin:0;
    margin-left: 80px;
    margin-top: -50px;

    font-family: 'Source Sans Pro';
    font-weight: bolder;
    color: #000;
    font-size: 12px;

    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left bottom;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left bottom;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left bottom;
    -o-transform: rotate(90deg);
    -o-transform-origin: left bottom;
    transform: rotate(90deg);
    transform-origin: left bottom;
    z-index: 10;
}

 .side-title .member-cross {
    margin-right:30px; 
    background:none;
    border:0;
    font-size:6em;
    line-height:60px;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:50;
    float: left;
    color: #000;
    text-decoration: none;
}

.side-title .member-cross:hover {
    color: #000;
    text-decoration: none;
    opacity: .75;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #99999970;
}

.image-container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}