#burger-menu-wrapper{
    position: relative;
    width: 100%;
    z-index: 50;
}

#burger-menu-wrapper .burger-header {
    width:100%; 
    background:#ffffff;
    line-height:60px;
}

#burger-menu-wrapper .hamburger {
    background:none;
    position:relative;
    line-height:60px;
    border:0;
    font-size:2.4em;
    font-weight:bold;
    cursor:pointer;
    outline:none;
	float:right;
}

#burger-menu-wrapper .cross {
    background:none;
    position:relative;
    line-height:60px;
    border:0;
    font-size:2.4em;
    font-weight:bold;
    cursor:pointer;
    outline:none;
	float:right;
}

#burger-menu-wrapper .menu {
    z-index:50; 
    font-weight:bold;
    width:100%;  
    position:relative; 
    font-size:18px;
    margin-top: 15%;
}

#burger-menu-wrapper .menu .menu-ul {
    margin: 0px;
    margin-left: 140px; 
    padding: 0; 
    list-style-type: none; 
    list-style-image: none;
}

#burger-menu-wrapper .menu .menu-ul span{
    margin: 0px;
    margin-left:-30px;
    margin-right: 10px;
    padding: 0px; 
    display: inline;
}

#burger-menu-wrapper .menu li {
    display: block;
    padding:15px 0 0 0; 
    margin-bottom: 0;
}

#burger-menu-wrapper .menu a {
    text-decoration:none; 
    text-align: left;
    font-family: 'Crimson';
    font-style: bold;
    font-size:21px;
}

#burger-menu-wrapper .menu a:hover { 
    border-bottom: 4px solid #000000; 
    padding-bottom:7px;
}
  
#burger-menu-wrapper .glyphicon-home {
    color:white; 
    font-size:1.5em; 
    margin-top:5px; 
    margin:0 auto;
}

#burger-menu-wrapper .burger-header {
    display:inline-block; 
    font-size:12px;
}

#burger-menu-wrapper span { 
    padding-left:20px;
}

#burger-menu-wrapper a { 
    color:#000;
}

#burger-menu-wrapper .burger-header span img.resize {
    width:220px;
    height: auto;
}

#burger-menu-wrapper .menu .client-login {
    padding: 100px 0 20px 0; 
	margin-left: 20px;
    position: relative;
}

#burger-menu-wrapper .menu .client-login a img {
    margin-right: 20px;  
}

#burger-menu-wrapper .menu .client-login a {
    font-family: 'Source Sans Pro';
    font-weight: bolder;
    color: #000;
    font-size: 12px; 
    margin-left: 20px; 
}

/* #burger-menu-wrapper .menu .client-login a:hover {
    opacity: .75; 
} */

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

/* .underline {

} */

@media only screen and (max-width: 767px) {
	#burger-menu-wrapper .hamburger{
        right:20px;
    }
    #burger-menu-wrapper .cross{
        right:20px;
	}
}