body {
    height:100px;
}

#footer 
{
    background: rgb(226, 226, 226);
    width: 100%;
    position:relative;
    z-index:100;
    height: 35vh;
}

#footer .row
{
    background: rgb(226, 226, 226);
}

#footer ul li {
    float: left;
    margin-right: 16px;
    display: block;
}

#footer ul li a {
    font-family: 'Roboto';
    font-style: bold;
    font-weight: 1000;
    color: #000;
    font-size: 12px;
}

.footer-col {
    margin: 30px;
    margin-top: 50px;
    line-height: 12px;
}

.footer-logo {
    float: right;
}

#footer .navbar {
    float: right;
    background-color: transparent;
    background: transparent;
    border-color: transparent;
}

.social-logo {
    margin: 10px;
    float: left;
}

.header {
    font-family: 'Roboto';
    font-style: bold;
    font-weight: 1000;
    color: #000;
    font-size: 18px;
}