.descriptions-crew {
    width: 100%;
    position: relative;
    vertical-align: middle;
    display: table-cell;
	padding: 20%;
}

.descriptions-crew p {
    font-family: 'Source Sans Pro';
    color: #000;
    font-size: 40px;
    display: inline-block;
    text-align: left;
    margin: 0px;
}

.descriptions-crew h2 {
    font-family: 'Source Sans Pro';
	font-weight: bold;
    color: #000;
    font-size: 48px;
    display: inline-block;
    text-align: left;
    margin: 0px;
}

.description-crew-wrapper{
    display: table;
    height: 100vh;
}

.right-col > .bg {
    height:100vh !important;
    width: 100% !important;
    position: relative;
}

.right-col > h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    text-align: center;
}

.right-col-apply > h1{
	top: 30%;
}

.description-box-wrapper{
    display: table;
    height: 100vh;
    width: 100%;
}


.descriptions-box {
    vertical-align: middle;
    display: table-cell;
}

.descriptions-box .wrapper-middle {
    width: 100%; 
    margin-left: 160px;
}

.descriptions-box .description-header p{
    font-family: 'Source Sans Pro';
    font-weight: 1000;
    color: #000;
    font-size: 60px;
}

.descriptions-box .wrapper-middle .description-bar p{
    font-family: 'Source Sans Pro';
    font-style: initial;
    font-weight: 100;
    color: #000;
    font-size: 120px;
}

.descriptions-box .wrapper-middle p {
    font-family: 'Roboto';
    font-weight: 700;
    color: #000;
    font-size: 37px;
    letter-spacing: 0em;
    width: 55%;
}

/* Enquire Button Begin */
.enquire-wrapper {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
	width: 100%;
}

.enquire-wrapper-apply{
	top: 55%;
	width: auto;
}

.enquire-wrapper .enquire-btn{
  border: 2px solid currentColor;
  border-radius: 3rem;
  border-color:rgb(255, 255, 255);
  color: rgb(255, 0, 0);
  background-color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 100;
  overflow: hidden;
  padding: 0.5rem 4rem;
  text-decoration: none;
  z-index: 0;
}

.enquire-wrapper .transparent-btn{
	background-color: transparent;
}

.enquire-wrapper .text-blue{
	color: blue;
}

.enquire-wrapper .text-white{
	color: white;
}

.enquire-wrapper .text-red{
	color: red;
}

.enquire-wrapper .text-green{
	color: green;
}

.enquire-wrapper .enquire-btn:hover {
    opacity: .25;
}
/* Enquire Button End */
.side-title {
    margin:0;
    position: absolute;
    top: 20%;
    right: -10%;
    font-family: 'Source Sans Pro';
    font-weight: bolder;
    color: #000;
    font-size: 12px;

    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: center;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: center;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: center;
    -o-transform: rotate(90deg);
    -o-transform-origin: center;
    transform: rotate(90deg);
    transform-origin: center; 
    z-index: 10;
}

.side-title .side-title-content {
    width: 300px;
    height: 50px;
}

.side-title .side-text {
    display: inline-block;
    width: 200px;
    height: 40px;
    margin: auto;
    vertical-align: middle;
    position: absolute;
}

.side-title .side-text h2 {
    margin: 0px;
}

 .side-title .member-cross-wrapper .member-cross {
    background:none;
    border:0;
    font-size:6em;
    line-height:60px;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:50;
    color: #000;
    text-decoration: none;
    width: 20px;
    height: 20px;
}

.side-title .member-cross-wrapper {
    margin-right:30px; 
    display: inline-block;
    width: 40px;
    height: 40px;
}

.side-title .member-cross:hover {
    color: #000;
    text-decoration: none;
    opacity: .75;
}

/*form */
form .form-icons {
  text-align: center;
  margin: 30px;
}

form .form-icons h4 {
  margin-bottom: 1rem;
}

form .form-icons .input-group-label {
	margin: 20px;
}

form .form-icons .input-group-field {
  border-color: #1779ba;
}

form .form-icons .fa {
  color: white;
  width: 1rem;
}

.input-group{
	margin: 20px;
	font-size: x-large;
}

.text-line {
    background-color: transparent;
    color: #eeeeee;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #eeeeee 1px;
    padding: 3px 10px;
}

::placeholder {
    color: white;
    opacity: 1; /* Firefox */
    font-size: 12px;
}

.input-group input[type=file] {
	display:none;
	margin:10px;
}

.input-group input[type=file] + label {
	display:inline-block;
	margin:20px;
	padding: 4px 32px;
	background-color: #FFFFFF;
	border:solid 1px #666F77;
	border-radius: 6px;
	color:#666F77;
}

.input-group input[type=file]:active + label {
	background-image: none;
	background-color:#2D6C7A;
	color:#FFFFFF;
}

.btn{
	font-size: 12px;
    color: white;
    padding: 6px 10px;
}

.btn:hover{
	color: white;
}
/*end form*/