/* Scroll DOWN button */
#scroll-down-link{
	position: absolute;
	bottom: -35px;
	left: 46%;
	z-index: 12;
	display: table;
}

#scroll-down-link a {
	display: table-cell;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
	padding-top: 7vh;
	letter-spacing: .1em;
	text-decoration: none;
	transition: opacity .3s;

	font-family: 'Source Sans Pro';
	font-weight: bolder;
	color: #000;
	font-size: 0.65vw;
}

#scroll-down-link a:hover {
	opacity: .75;
}

#scroll-down-link a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 25px;
	height: 40px;
	margin-left: -15px;
	
	border: 3px solid;
	border-radius: 50px;
	box-sizing: border-box;
	border-color: #000;
	-webkit-transition: transform .3s ease-out;
	-moz-transition: transform .3s ease-out;
	-o-transition: transform .3s ease-out;
	-ms-transition: transform .3s ease-out;
	transition: transform .3s ease-out;
}

#scroll-down-link a:hover span {
	position: absolute;
	-webkit-transform: translate(0, -7.5px);
	-moz-transform: translate(0, -7.5px);
	-ms-transform: translate(0, -7.5px);
	-o-transform: translate(0, -7.5px);
	transform: translate(0, -7.5px);
}

#scroll-down-link a span::before {
	position: absolute;
	top: 10px;
	left: 50%;
	content: '';
	width: 6px;
	height: 6px;
	margin-left: -3px;
	background-color: #000;
	border-radius: 100%;
	-webkit-animation: sdb10 2s infinite;
	-moz-animation: sdb10 2s infinite;
	-ms-animation: sdb10 2s infinite;
	-o-animation: sdb10 2s infinite;
	animation: sdb10 2s infinite;
	box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
0% {
  -webkit-transform: translate(0, 0);
  opacity: 0;
}
40% {
  opacity: 1;
}
80% {
  -webkit-transform: translate(0, 10px);
  opacity: 0;
}
100% {
  opacity: 0;
}
}
@-moz-keyframes sdb10 {
0% {
  transform: translate(0, 0);
  opacity: 0;
}
40% {
  opacity: 1;
}
80% {
  transform: translate(0, 10px);
  opacity: 0;
}
100% {
  opacity: 0;
}
}

@-ms-keyframes sdb10 {
0% {
  -webkit-transform: translate(0, 0);
  opacity: 0;
}
40% {
  opacity: 1;
}
80% {
  -webkit-transform: translate(0, 10px);
  opacity: 0;
}
100% {
  opacity: 0;
}
}
@-o-keyframes sdb10 {
0% {
  transform: translate(0, 0);
  opacity: 0;
}
40% {
  opacity: 1;
}
80% {
  transform: translate(0, 10px);
  opacity: 0;
}
100% {
  opacity: 0;
}
}
@keyframes sdb10 {
0% {
  transform: translate(0, 0);
  opacity: 0;
}
40% {
  opacity: 1;
}
80% {
  transform: translate(0, 10px);
  opacity: 0;
}
100% {
  opacity: 0;
}
}


/* ---------------------------------------------------------------------------------------------------------- */
/* Back To Top Button */
#scroll-top-link{
	position: absolute;
	bottom: -35px;
	left: 46%;
	z-index: 12;
	display: inline-block;
}

#scroll-top-link a {
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
	padding-top: 7vh;
	letter-spacing: .1em;
	text-decoration: none;
	transition: opacity .3s;

	font-family: 'Source Sans Pro';
	font-weight: bolder;
	color: #000;
	font-size: 0.65vw;
}
  
#scroll-top-link a:hover {
	opacity: .75;
}

#scroll-top-link a span {
    position: absolute;
    top: 20%;
    left: 53%;
    width: 25px;
    height: 25px;
    margin-left: -15px;
	
    border-left: 3px solid #000;
    box-sizing: border-box;
    border-bottom: 3px solid #000;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

#scroll-top-link a.scroll-top-a:hover span{
-webkit-animation: sdb04 2s infinite;
animation: sdb04 2s infinite;
box-sizing: border-box;
}

@-webkit-keyframes sdb04 {
0% {
  -webkit-transform: rotate(135deg) translate(0, 0);
}
20% {
  -webkit-transform: rotate(135deg) translate(-10px, 10px);
}
}
@keyframes sdb04 {
0% {
  transform: rotate(135deg) translate(0, 0);
}
20% {
  transform: rotate(135deg) translate(-10px, 10px);
}
}
/* ----------------------------------------------------------------------------------------------------- */
@media (max-width: 767px) {
	#scroll-top-link {
		display: none;
	}
	#scroll-down-link {
			display: none;
	}
}

@media only screen and (min-width: 1800px) {
	#scroll-down-link {
		bottom: -25px;
	}
}

@media only screen and (min-width: 1500px) and (max-width: 1800px){
	#scroll-down-link {
		bottom: -15px;
	}
}

@media only screen and (min-width: 1300px) and (max-width:1500px){
	#scroll-down-link {
		bottom: -5px;
	}
}