.main-banner-carousel #burger-menu-wrapper .burger-header {
    width:100%; 
    background:#ffffff; 
    height:60px; 
    line-height:60px;
}

.main-banner-carousel #burger-menu-wrapper .hamburger {
    background:none;
    position:absolute;
    top:3px;
    right:0;
    line-height:60px;
    /* padding:5px 15px 0px 15px; */
    border:0;
    font-size:2.4em;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:50;
}

.main-banner-carousel #burger-menu-wrapper .cross {
    background:none;
    position:absolute;
    top:16px;
    right:0;
    /* padding:7px 15px 0px 15px; */
    /* color:#999; */
    border:0;
    font-size:6em;
    line-height:60px;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:50;
}

.main-banner-carousel #burger-menu-wrapper .menu {
    z-index:50; 
    font-weight:bold; 
    /* font-size:3em;  */
    width:100%;  
    position:absolute;
    text-align:center; 
    font-size:18px;
    margin-top: 15%;
}

.main-banner-carousel #burger-menu-wrapper .menu .menu-ul {
    margin-left: 180px; 
    padding: 0; 
    list-style-type: none; 
    list-style-image: none;
}

.main-banner-carousel #burger-menu-wrapper .menu .menu-ul-other {
    margin-left: 164px; 
    padding: 0; 
    position: relative;
    top: 100px;
    list-style-type: none; 
    list-style-image: none;
}

.main-banner-carousel #burger-menu-wrapper .menu li {
    display: block;
    padding:15px 0 15px 0; 
}

.main-banner-carousel #burger-menu-wrapper .menu a {
    text-decoration:none; 
    text-align: left;
}

.main-banner-carousel #burger-menu-wrapper .menu a:hover {
    text-decoration:underline; 
}
  
.main-banner-carousel #burger-menu-wrapper .glyphicon-home {
    color:white; 
    font-size:1.5em; 
    margin-top:5px; 
    margin:0 auto;
}

.main-banner-carousel #burger-menu-wrapper .burger-header {
    display:inline-block; 
    font-size:12px;
}

.main-banner-carousel #burger-menu-wrapper span { 
    padding-left:20px;
}

.main-banner-carousel #burger-menu-wrapper a { 
    color:#000;
}

.main-banner-carousel #burger-menu-wrapper .burger-header span img.resize {
    width:220px;
    height: auto;
}

@media only screen and (max-width: 767px) {
	.main-banner-carousel #burger-menu-wrapper .hamburger{
        right:20px;
    }
    .main-banner-carousel #burger-menu-wrapper .cross{
        right:20px;
	}
}