.descriptions-box {
    height: 300px;
    width: 250px;
    margin: 120px;
    position: absolute;
    top: 220%;
}

.descriptions-box p {
    font-family: 'Source Sans Pro';
    font-weight: bolder;
    color: #000;
    font-size: 24px;
}

.do-not-click-box {
    height: 35px;
    width: 260px;
    margin: 60px;
    position: absolute;
    top: 700%;
    font-family: 'Source Sans Pro';
    font-weight: bolder;
    color: #000;
    font-size: 12px;
}

.do-not-click-box img {
    margin-right:20px;
}

.do-not-click-box:hover {
    opacity: .75;
    text-decoration: none;
}

.do-not-click-box:hover a{
    text-decoration: none;
}
