body {
    height:100px;
}

#footer 
{
    background: rgb(207, 207, 207);
    width: 100%;
    position:relative;
    z-index:100;
}




#footer ul.navigation li {
    float: left;
    margin-right: 16px;
    display: block;
}
