/* #section01 {
    overflow-y: auto;
}

#section02 {
    overflow-y: auto; 
} */

/* .ip-main {
    overflow-y: scroll;
    height: 100%;
} 

body{
    height: 100%;
    width: 100%;
    overflow:hidden;
} */

/* ::-webkit-scrollbar {
    display: none;
    } */

.row {
    margin:0;
}

a {
    text-decoration:none; 
    outline: 0;
}

a:hover {
    outline: 0;
    color: #000;
}

a:active {
    text-decoration:none; 
    outline: 0;
    color: #000; 
}

a:visited {
    text-decoration:none; 
    outline: 0;
    color: #000;  
}

.container {
    padding: 0;
}

.left-col {
    padding: 0;
}

.right-col {
    padding: 0;
}

.main-text {
    font-family: 'Roboto';
	font-style: bold;
}

.body-text {
    font-family: 'Source Sans Pro';
	/* font-style: ; */
}

.menu-text {
    font-family: 'Crimson';
	font-style: bold;
}

.link-text {
    font-family: 'Source Sans Pro';
	font-style: bold;
    color: #000;
    font-size: 12px;
}