  #scroll-down-link a {
    position: absolute;
    bottom: 5px;
    left: 64%;
    z-index: 10;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding-top: 60px;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;

    font-family: 'Source Sans Pro';
    font-weight: bolder;
    color: #000;
    font-size: 12px;
  }

  #scroll-down-link a:hover {
    opacity: .75;
  }

  #scroll-down-link a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 25px;
    height: 40px;
    margin-left: -15px;
    border: 3px solid;
    border-radius: 50px;
    box-sizing: border-box;
    border-color: #000;
    transition: transform .3s ease-out;
  }

  #scroll-down-link a:hover span {
    position: absolute;
    transform: translate(0, -5px);
    /* top: -10px; */
  }

  #scroll-down-link a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #000;
    border-radius: 100%;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb10 {
    0% {
      -webkit-transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0, 10px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb10 {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(0, 10px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @media only screen and (max-width: 767px) {
    div.scroll-down a{
      left:50%;
    }
  }