/* div.hidden
{
   display: none
}

.scroll-down {
	opacity: 1;
	-webkit-transition: all .5s ease-in 3s;
	transition: all .5s ease-in 3s;
  }
  
  .scroll-down {
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left: -16px;
	display: block;
	width: 32px;
	height: 32px;
	border: 2px solid #FFF;
	background-size: 14px auto;
	border-radius: 50%;
	z-index: 2500;
	-webkit-animation: bounce 2s infinite 2s;
	animation: bounce 2s infinite 2s;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
  }
  
  .scroll-down:before {
	  position: absolute;
	  top: calc(50% - 8px);
	  left: calc(50% - 6px);
	  transform: rotate(-45deg);
	  display: block;
	  width: 12px;
	  height: 12px;
	  content: "";
	  border: 2px solid white;
	  border-width: 0px 0 2px 2px;
  }
  
  @keyframes bounce {
	0%,
	100%,
	20%,
	50%,
	80% {
	  -webkit-transform: translateY(0);
	  -ms-transform: translateY(0);
	  transform: translateY(0);
	}
	40% {
	  -webkit-transform: translateY(-10px);
	  -ms-transform: translateY(-10px);
	  transform: translateY(-10px);
	}
	60% {   
	  -webkit-transform: translateY(-5px);
	  -ms-transform: translateY(-5px);
	  transform: translateY(-5px);
	}
  } */

  .scroll-down a {
    position: absolute;
    bottom: 20px;
    left: 62%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
  }
  .scroll-down a:hover {
    opacity: .5;
  }
  
  
  #scroll-down-link a {
    padding-top: 60px;
    font-size: 12px;
    color: #000;
    font-weight: 1000;
  }
  #scroll-down-link a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 25px;
    height: 40px;
    margin-left: -15px;
    border: 3px solid;
    border-radius: 50px;
    box-sizing: border-box;
    border-color: #000;
  }
  #scroll-down-link a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #000;
    border-radius: 100%;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb10 {
    0% {
      -webkit-transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb10 {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(0, 10px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }